body {
  max-width: 60rem;
  margin: auto;
}

header {
  display: flex;
  place-items: center;
  height: 100px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}

header img {
  height: 100%;
  margin-right: 6px;
}

header p {
  font-size: 0.75rem;
  font-weight: 500;
}

header h3 {
  font-size: 1.25rem;
  margin-right: auto;
}

input[type="text"],
input[type="button"] {
  display: block;
  margin: 10px auto;
  padding: 20px;
}

input[type="text"] {
  text-align: center;
  width: 50%;
}

input[type="button"] {
  color: #fff;
  border: 0;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

input[type="button"]:hover {
  color: #fff;
  border: 0;
  background: linear-gradient(#672280 1.18%, #a626d3 100%);
  cursor: pointer;
}

main img {
  justify-self: center;
  max-width: 100%;
}

.meme {
  position: relative;
  color: white;
  text-align: center;
}

.topText,
.botText {
  position: absolute;
  text-align: center;
  width: 100%;
  -webkit-text-stroke: 2px black;
  font-size: 2em;
}

.botText {
  bottom: 20px;
}
